<p id="notice"><%= notice %></p>

<h1>Guidelines</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guidelines.each do |guideline| %>
      <tr>
        <td><%= guideline.number %></td>
        <td><%= guideline.text %></td>
        <td><%= link_to 'Show', guideline %></td>
        <td><%= link_to 'Edit', edit_guideline_path(guideline) %></td>
        <td><%= link_to 'Destroy', guideline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guideline', new_guideline_path %>
