<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @restaurant.number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @restaurant.text %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
